[2018-07-27 13:34] WebD-EG opened #34 "Informations is missing in the README"
There is some informations missing in the README, like the payload to send and how to get the authorID.

[2019-05-30 07:36] ananagame opened #38 "Heroku application is sometimes answering wrong"
When the Heroku application restarts by its own, then Olivia replies wrong and I need to restart the application on Heroku to make Olivia reply good.
I don't really know where the issue come from.

[2019-05-30 07:47] ananagame opened #39 "Write an obvious documentation"
Write an obvious documentation on the setup of Olivia's rest API and usage.

[2019-05-30 07:54] ananagame commented on #39
- [ ] Getting started
- [ ] How to use
- [ ] Write your own dataset
- [ ] Add you own triggers

[2019-06-02 18:55] ananagame commented on #38
Seems to be resolved with https://github.com/olivia-ai/olivia/commit/4ee7745d33961ca6e960dd587fb0d7ad93c85397

[2019-06-03 20:03] #38 closed

[2019-06-07 10:00] ananagame opened #40 "Problem with upper case letters and punctuation"
![](https://i.imgur.com/RMy76Wi.png)

Olivia don't understand when I write "Who are you ?" instead of "who are you"

[2019-06-07 17:38] ananagame commented on #40
Correct this issue by generating a new model and adding test to verify that the model isn't answering wrong

[2019-06-07 17:38] #40 closed

[2019-06-17 07:13] gismo07 opened #41 "Olivia listening but: 404 page not found"
I've installed Olivia on my windows system following the documentation.
However, if I launch it the browser only outputs: 404 page not found

[2019-06-17 07:15] ananagame commented on #41
Which page are you trying to reach?

[2019-06-17 07:27] gismo07 commented on #41
After run `go run main.go` the console output is: Listening on the port 8080.
So I try to open localhost:8080. Or am I wrong?

[2019-06-17 07:29] ananagame commented on #41
Alright but to chat with Olivia you need to send your POST request to api/response like said [here](https://docs.olivia-ai.org/#how-to-use)

[2019-06-17 07:30] gismo07 commented on #41
Ok sorry ... I was not aware, that this is a REST api "only".
The demo was a bit missleading

[2019-06-17 07:30] #41 closed

[2019-06-17 07:34] ananagame commented on #41
I will review the doc later

[2019-06-17 07:34] prologic commented on #41
Can we borrow/re-use the UI off the original project that inspired this version?

[2019-06-17 07:36] ananagame commented on #41
I used Buefy which is Bulma for Vue.js so of course you can!

[2019-06-17 07:57] gismo07 opened #42 "own module not recogniced"
I've followed the tutorial to create a own simple module:

[code]

But the module is never triggerd. Is there any additional step required?

[2019-06-17 07:58] ananagame commented on #42
Where did you put this file?

[2019-06-17 08:00] gismo07 commented on #42
It's located here: olivia/modules/gismo.go

[2019-06-17 08:02] ananagame commented on #42
Oh I know, my fault I didn't mention this in the doc. If there's already a save (res/training.json) you need to remove it

[2019-06-17 08:09] gismo07 commented on #42
Hmm now it's training but the module is still not called.
I changed the sentence in the module to `Play gismo`, the console output is:

[2019-06-17 08:13] prologic opened #43 "Feature comparison with LeonAI"
It would be nice to do a feature comparison with [LeonAI](https://github.com/leon-ai/leon) of which inspired this project. A Roadmap of where you want to take this would be nice too for contributors to have some kind of "grand vision".

[2019-06-17 08:14] prologic commented on #41
I actually meant to reuse/borrow the UI  code directly and embed it and serve it up.

[2019-06-17 08:17] ananagame commented on #41
Oh yes you can

[2019-06-17 08:19] ananagame commented on #43
The goal is not to do the same as Leon, if you want to see me to do list you can use GitHub projects

[2019-06-17 08:19] ananagame commented on #42
Let me see the code please

[2019-06-17 08:20] prologic commented on #41
Any change we can embed it via `git submodule` and serve it up here? With permission of the Leon author ofc :)

[2019-06-17 08:21] prologic commented on #43
The two projects listed don't realy say much about your long-term goals?

[2019-06-17 08:22] ananagame commented on #43
No, because I don't have long-term goals. I just want Olivia to become better and better with the time, and we'll see what to implement in due course

[2019-06-17 08:27] prologic commented on #43
Hmmm that doesn't really help newcomers to this project. I'd encourage you to at least write a few bullet points down in the README. You've already made it clear you won't want it to be feature-complete with Leon; but then again your project is inspired/based on it? Forgive me for being confused :)

[2019-06-17 08:29] ananagame commented on #43
The author of Leon has helped me a lot on many points and I was inspired with Olivia on his project so to thanks him I wrote this on the README

[2019-06-17 08:29] ananagame commented on #43
For newcomers I see, maybe later I will add some goals!

[2019-06-17 08:33] prologic commented on #43
To be clear; I'm a fellow developer like you; and I Love Go! I intend to try out both Oliver and Leon; buat at this stage I will more than likely spin up Leon in my production environment because it is more feature complete and mature.

That being said however; I have a **strong** preference to towards services/apps written in Go (*than Python or NodeJS or PHP*) because typically the resource cost

[2019-06-17 08:36] ananagame commented on #43
Sure I understand Leon is way more complete than Olivia. Olivia now have her structure with modules so you can easily add yours to make a PR or add some intents

[2019-06-17 08:37] ananagame commented on #43
With the enthusiasm around Olivia I hope there will be new ideas of contributions :)

[2019-06-17 08:41] prologic commented on #43
Understood  :) -- What I _was_ after in the first place was some high-level things like:

- Does Olivia have or intend to have an NLP?
- Does Olivia have or intend to have an TTS?
- Does Olivia have or intend to have an SST?

These are important aspects and core features that extensible modules can then build upon IHMO.

[2019-06-17 08:41] ananagame commented on #43
Olivia has already the three of them

[2019-06-17 08:42] prologic commented on #43
Me too : ) This is an important/exciting project to complete with the likes of Alexa, Siri and others. Self-hosting and OSS is becoming more and more important!

[2019-06-17 08:42] ananagame commented on #43
The Go part is only the neural network and all the NLP, the STT and TTS are part of the Web app [c.f](https://github.com/olivia-ai/olivia-ai.org)

[2019-06-17 08:43] prologic commented on #43
May I ask that you file a separate issue to document them, how they work at a high-level and how to contribute to their design/implementation (*if not externally provided by libraries*)?

[2019-06-17 08:44] ananagame commented on #43
Sure, my next job is to document the Web app to make it installable and configurable by everyone

[2019-06-17 08:47] Songkeys commented on #40
Is this resolved? I don't see that...

![image](https://user-images.githubusercontent.com/22665058/59590896-961ce300-911f-11e9-9ac2-18c1dd67b827.png)

[2019-06-17 08:47] gismo07 commented on #42
What I've done:

- Gismo module:

[code]

- deleted the `res/training.json` file
- ask olivia with `curl -X POST "localhost:8080/api/response" --data "sentence=Where is gismo" --data "authorId=81278329034"`

The response:

Log:

[2019-06-17 08:48] prologic commented on #43
Sounds good! Also this discussion has already partly documented a "feature comparison" as well as  "vision" of sorts. Just say'n  :)

[2019-06-17 08:51] ananagame commented on #42
You forgot a comma at the end of "Where is gismo"

[2019-06-17 08:55] ananagame commented on #40
Yes it is, that’s Hi another issue I can’t explain

[2019-06-17 08:58] gismo07 commented on #42
Ok added that, but nothing changed

[2019-06-17 08:59] ananagame commented on #42
It worked for me, try to delete again and restart the api

[2019-06-17 09:10] gismo07 commented on #42
I tested something else: I changed the text of the random module.
However nothing changed at the olivia output.

Is this maybe related to some cache?

[2019-06-17 09:15] ananagame commented on #42
The only cache is the save of the model, when you delete it the model must get allo the intents and the modules. I’m trying to figure out what you did wrong because it is working perfectly for me🤔

[2019-06-17 09:29] gismo07 commented on #42
I found the solution:
I had to add the module to `src\github.com\olivia-ai\olivia\modules` not to the cloned `src\olivia\modules`.

Maybe also add that to the documentation ;-)
But now its working - really cool!

[2019-06-17 09:29] #42 closed

[2019-06-17 09:39] ananagame commented on #42
Sure I add this to the TODO list

[2019-06-18 19:42] #43 closed

[2019-06-18 20:04] ananagame commented on #43
I've created projects to add goals and todos :) https://github.com/orgs/olivia-ai/projects

[2019-06-19 09:49] shlomif opened #44 ""artificial" is misspelled in the project description"
See https://en.wiktionary.org/wiki/artifical .

[2019-06-19 09:52] ananagame commented on #44
Very good point! Thanks

[2019-06-19 09:53] #44 closed

[2019-06-19 10:04] shlomif commented on #44
Thanks, @ananagame - and - yw.

[2019-06-19 13:27] avierr opened #46 "doesn't remember my name 🤷‍♂️"
If i go to https://olivia-ai.org/chat
and say something like: my name is Avi
and then ask it: what is my name? it replies "I'm Olivia"

even really old bots like ALICE get this simple thing right,
https://pandorabots.com/pandora/talk?botid=b8d616e35e36e881

Is a fix possible?

[2019-06-19 13:41] ananagame commented on #46
She does not remember your name because this feature has not been implemented yet

[2019-06-19 13:41] ananagame commented on #46
But I can add this to the project :)

[2019-06-19 15:57] AleksandrHovhannisyan opened #47 "It may be worth limiting the size of a user's message."
Sending an absurdly long message (gibberish or not) results in a correspondingly absurd wait time as Olivia tries to understand what you're saying :) Though she does eventually manage to figure it out!

![image](https://user-images.githubusercontent.com/19352442/59781183-4d813900-9289-11e9-87ab-eabea2c6cc25.png)

Since it's a chat application, it may be worth limiting the user input to a certain r

[2019-06-19 16:08] ananagame commented on #47
Very good point, I’ll limite the size to 500

[2019-06-19 16:29] #47 closed

[2019-06-19 16:30] ananagame commented on #47
All done! Thanks :)

[2019-06-19 17:35] AleksandrHovhannisyan commented on #47
No problem! Though I was thinking more along the lines of preventing the user from entering a large message in the first place by imposing a character limit on the text input widget (basically ignoring input if the size of the entered message is already 500 chars). It may even be good to show a little counter for how many characters are left, sort of like on Twitter. (Just throwing ideas/suggestio

[2019-06-21 09:25] asxcandrew opened #48 "Can I teach Olivia to understand another languages?"

[2019-06-21 09:31] ananagame commented on #48
Not yet because the stemmer is on English

[2019-06-21 13:15] pronouncedJerry opened #49 "Heads up.. you might run into some issues with Paradox about the bot's name."
https://www.paradox.ai/about-olivia

[2019-06-21 13:17] ananagame commented on #49
I saw, that's not the only chatbot called Olivia and I don't know what to do

[2019-06-21 13:26] #49 closed

[2019-06-23 01:01] natzar commented on #46
Before the neural network is trained, might be good to add AIML support, because it's very limited,  right now. Have experiene with chatbots, want to help.

[2019-06-27 20:15] elolelo opened #50 "Can Oliver work out her age?"
![Screenshot from 2019-06-27 21-57-43](https://user-images.githubusercontent.com/32453496/60297646-f6cecb80-9928-11e9-993a-5741a3e4c2ff.png)

[2019-06-27 20:31] ananagame commented on #50
No, but that's a good module to add! :)

[2019-06-28 13:23] DuAell opened #51 "Olivia stopped answering after a few words"
![image](https://user-images.githubusercontent.com/708163/60345117-8ff8f300-99b8-11e9-93af-4284e17134b6.png)

[2019-06-28 14:55] ananagame commented on #51
Hello, thanks for the report, do you have any errors in the console?

[2019-06-28 20:50] DuAell commented on #51
I've done this test on https://olivia-ai.org. Didn't seen any console there.

[2019-07-02 14:44] ananagame commented on #46
All done!
![](https://i.imgur.com/CcOfLFY.png)

[2019-07-02 14:45] #46 closed

[2019-07-02 14:45] ananagame commented on #51
Perhaps the application was restarting

[2019-07-02 14:46] #51 closed

[2019-07-02 15:20] avierr commented on #46
Wohoo! Thanks!

[2019-07-02 15:22] ananagame commented on #46
All the information about the user are in the app cache and stored in the client's browser, so I don't keep any data!

[2019-07-02 19:45] Xeoncross opened #52 "Support for audo blobs?"
leon supports [processing WAV files locally into text](https://github.com/leon-ai/leon/blob/develop/server/src/stt/deepspeech/parser.js). Does olivia plan on adding support for audio blobs/streams like WAV/PCM?

I'm a little concerned you're only going to support _online_ usage [by sending data to Google](https://github.com/olivia-ai/olivia-ai.org/blob/master/src/views/Chat.vue#L80) by using the `

[2019-07-05 00:09] xzyan opened #53 "I should have some questions."
[code]

[2019-07-05 05:40] ananagame commented on #53
Did you changed somerthing?

[2019-07-12 17:58] adorearun opened #54 "Model Training not working"
I have added like 25 new intents in res/intents.json. I removed training.json and restarted the server. Out of 25 only 3 or 4 is working rest I am getting
```{"content":"I'm trying to do my best but I don't understand","tag":"don't understand"}```

What could be the reason? How to train the model with our new intents? Do we have to remove training.json if we add new intents ?

[2019-07-12 19:55] ananagame commented on #54
You need to add your intents in `res/intents.json` written following this pattern ```json
{
    "tag": "your tag",
    "patterns": ["Hey", "Hello", "Hi", "Good morning"],
    "responses": ["hello how are you"],
    "context": ""
}
[code]

[2019-07-12 19:57] ananagame commented on #52
The goal is not to do the same things as leon, and for the SpeechRecognition API you're not forced to use it and it is more easy to implement than an offline support :)

[2019-07-13 08:22] phillipahereza commented on #50
@ananagame is this issue up for grabs? If yes, can I work on it?

[2019-07-13 09:03] elolelo commented on #50
I've been snowed under, although I was working on it - I am done, so you can go ahead and work on it.

[2019-07-13 09:53] ananagame commented on #50
yes you can! just take a look at the doc about Modules and how the other modules are done to respect the format ;)

[2019-07-15 21:27] adorearun commented on #54
[code]

[2019-07-16 08:02] ananagame commented on #54
And what do you try to send to Olivia to trigger this intent?

[2019-07-16 19:59] adorearun commented on #54
I am sending the entire pattern ```difference between submitted and processed requests``` and trigger using rest API

[2019-07-17 13:21] adorearun commented on #54
Moreover after I deploy the olivia in our private cloud server , now even for existing models its failing. what could be the reason? please help.

[code]

[2019-07-17 13:47] ananagame commented on #54
Yes I know this I am actually working on it

[2019-07-18 22:05] ananagame commented on #54
I tested your intent myself and it's working perfectly ![see here](https://i.imgur.com/w8KjiCU.png)
Maybe this is due to the last fixes I've done on the neural network

[2019-07-24 15:13] adorearun commented on #54
Oh cool , Thanks. Do I have to update to latest version?

[2019-07-24 15:52] ananagame commented on #54
Sure. :)

[2019-07-25 20:45] adorearun commented on #54
After I updated to latest master branch and when I try to access olivia end up in this error , please help

`2019/07/25 16:43:14 http: panic serving [::1]:62633: runtime error: invalid memory address or nil pointer dereference
goroutine 40 [running]:
net/http.(*conn).serve.func1(0xc0000a21e0)
	/usr/local/Cellar/go/1.12.6/libexec/src/net/http/server.go:1769 +0x139
panic(0x1352ec0, 0x16814d0)
	/usr/

[2019-07-29 08:52] ananagame commented on #54
Did you reproduce all the steps?

[2019-07-29 21:11] adorearun commented on #54
Yes , I pulled master and did dep ensure and end up this problem? Can you please let me know what could be the issue ?

[2019-08-12 12:56] adorearun commented on #54
Hi , Is there something I am missing ? or did you get a chance to look into it?

[2019-08-26 09:47] ananagame commented on #54
I really don't know this is working perfectly for me, sorry :/

[2019-10-04 15:10] aitva opened #63 "analysis: punctuation allowed in training"
Hi ! Thank you for Olivia, I had a look at the sources and it is a great piece of software. :clap:

I had trouble using the `name getter` tag and I noticed that upper case letters and punctuation are removed from user inputs, but not from the training data. Removing punctuation in `modules/name.go` fixes the problem.

I think `analysis.Organize` should use `analysis.NewSentence` to standardize the

[2019-10-06 17:51] ananagame commented on #63
I will fix this later, thanks a lot for the issue!

[2020-03-20 19:26] hugolgst opened #65 "modules: morning news and important reminders"
Create a new module which tells all the important information the user has to know:

- [ ] News
- [ ] Reminders the user has set
- [ ] Olivia's new updates

[2020-03-20 20:34] hugolgst opened #66 "modules: create calendar reminders"
Create a module where the user can create reminders on specified days

- [x]  Add a reminder for a specific day
- [x]  Add a reminder for a specific hour of the day

[2020-03-20 20:39] hugolgst opened #67 "modules: create sport events listing"
Create a module for a listing of sports event of the user's favourite teams

- [ ]  Let the user tell Olivia his favourite teams
- [ ]  Get the next events
- [ ]  Turn on the “Notification“ option where Olivia tells him the news of the game

[2020-03-21 10:26] hugolgst opened #68 "dashboard: create a rest api for training data"
Create a REST API to get chatbot's data for the Dashboard

- [x]  Get the number of layers
- [x]  Training data:
  - [x]  Time to train
  - [x]  Learning rate
  - [x]  Error loss

[2020-03-21 10:37] hugolgst opened #69 "ci: move from circle and travis to github actions"
Removing Travis-CI and Circle-CI to move to GitHub actions

- [x] Remove travis and circle
- [x] Create check format job
- [x] Create docker job to build and publish the image

[2020-03-21 10:37] #69 closed

[2020-03-21 10:43] hugolgst opened #70 "training: specify the intents file"
Create a flag to specify a different intents file from the default one.

[2020-03-21 14:37] hugolgst opened #71 "core: create tests for inexistent ones"
Add tests files for inexistent ones.

[2020-03-21 15:24] #68 closed

[2020-03-24 14:58] #63 closed

[2020-03-24 15:28] hugolgst opened #72 "language/countries: add Levenshtein algorithm to FindCountry()"
Add the Levenshtein algorithm to take care of typos.

[2020-03-24 17:23] #72 closed

[2020-03-24 17:46] #71 closed

[2020-03-25 10:35] #70 closed

[2020-03-30 21:12] #66 closed

[2020-04-01 00:46] AymenStudios opened #73 "The ability to learn and relate events"
The biggest problem I noticed in projects similar to Olivia was that no one could remember what we were talking about and linking events based on the conversation
And self-learning ability
I hope that you will make this character distinct and self-thinking in the sense that she is an independent character
So this will become a very big breakthrough in open source AI
I strongly advise heading to de

[2020-04-01 07:04] hugolgst commented on #73
For the self-learning ability, maybe in the future.
About the ability to link events, there is already an implementation of the context, for example:

She remembers that we were talking about the feeling because there is the context added.

[2020-04-02 18:52] GravenilvecTV opened #74 "Abonnez vous à Graven"
Bonjour, j'ai remarqué que vous n'etiez pas abonner à ma chaine.
Souscrivez à un **taboulet**

[2020-04-02 18:52] GravenilvecTV commented on #74
please up ?

[2020-04-02 18:53] GravenilvecTV commented on #74
monsieur ?

[2020-04-02 18:53] hugolgst commented on #74
Sorry, but I have to close this issue.

[2020-04-02 18:53] #74 closed

[2020-04-04 11:32] hugolgst opened #75 "modules: spotify implementation"
Create a Spotify module to run your musics:

- [x] Login
- [x] Play music

[2020-04-04 11:36] #75 closed

[2020-04-04 20:49] hugolgst opened #76 "core: create REST routes to add new intents/modules"
Create some routes to add new intents to Olivia and new simple modules with a REST API

Intents:
- [x] Add new simple intents with context
- [x] List all the intents

[2020-04-04 20:52] hugolgst opened #77 "doc: add basic skills to the README.md"
Add some of Olivia's skills to the README.md

[2020-04-14 10:04] NerdDoc opened #78 "Linux console client for Olivia"
I created linux console client for Olivia - you can find it by link (https://github.com/NerdDoc/Olivia-CC)

[2020-04-14 10:06] hugolgst commented on #78
Wow, that's amazing!
Thanks a lot for this resource.

Maybe we could add it to the Olivia Organization!

[2020-04-14 10:09] NerdDoc commented on #78
Hello! Ofcourse you can add it to Olivia Organization. Is there any discussion channel for Olivia, i would like to connect?

[2020-04-14 10:12] hugolgst commented on #78
No, there isn't one yet.
I'm hesitating to create one and on which platform.

[2020-04-14 10:17] NerdDoc commented on #78
maybe Discord. For now a day i don't see any differences between platforms.

[2020-04-14 10:40] hugolgst commented on #78
Here it is!
https://discord.gg/bXv2Wd

[2020-04-14 11:46] hugolgst opened #79 "modules: add range to random number"
Add a range to the random number module

Opened for contributors.

[2020-04-14 16:54] #76 closed

[2020-04-15 20:04] hugolgst opened #80 "intents/modules: add jokes"
Create a joke module or intent.
I'm not sure yet if this should be a module which will retrieve jokes from an API (not necessary I think) or simply an intent.
Opened for contributors.

[2020-04-16 17:22] hugolgst opened #81 "module: create an equation solver"
Create a module to solve math equations.
This imply creating a language function to extract equations from user's messages.

[2020-04-16 18:50] hugolgst opened #82 "module: create time zones"
Create a time zone module using the existent `languages/countries` file.

[2020-04-17 07:18] hugolgst opened #83 "languages: add languages to Olivia"
Add different languages to Olivia, this will require to update the stemmer in these languages and make this system completely modulable for future language additions.

[2020-04-17 07:21] hugolgst commented on #83
I've assigned you @NerdDoc, good luck with working on this.
Don't hesitate if you have questions!

[2020-04-17 07:27] hugolgst commented on #48
Related to #83
Work in progress

[2020-04-17 07:28] hugolgst commented on #52
I am going to close this issue.

[2020-04-17 07:28] #52 closed

[2020-04-17 08:34] hugolgst opened #84 "module: create a weather module"
Create a weather module which will get the weather for a given city, at a given date (using the `language/date` package).
The API for that isn't chosen yet.
You can copy the model of the Spotify module for the registration of the tokens, see [here](https://github.com/olivia-ai/olivia/blob/master/modules/spotify.go#L49)
Save the API key into user information if the API requires a token.

Opened for

[2020-04-22 13:41] Karine122 opened #85 "Me gustan las fresas con vainilla y la gente con frambuesa."
Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente c

[2020-04-22 13:41] Karine122 opened #86 "Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa."
Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente c

[2020-04-22 13:42] Karine122 opened #87 "Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa."
Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente c

[2020-04-22 13:42] Karine122 opened #88 "dddd"
Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente c

[2020-04-22 13:42] Karine122 opened #89 "gfgfgwg"
Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente c

[2020-04-22 13:43] Karine122 opened #90 "Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa."
First specify on which part this is related in the title with:
`core/language/modules...: title`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please

[2020-04-22 13:43] Karine122 opened #91 "dfsdsdsdoc:"
Please explain what do you suggest on the Documentation, what you would see instead.
dsdsdsd

[2020-04-22 13:43] Karine122 opened #92 "doc:"
Please explain what do you suggest on the Documentation, what you would see instead.
Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas

[2020-04-22 13:43] Karine122 opened #93 "dsdsdsdoc:"
Please explain what do you suggest on the Documentation, what you would see instead.
Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas

[2020-04-22 13:43] Karine122 opened #94 "intent/module: create a ... module/intentMe gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa."
**Describe what the module or intent should do** and **if this should be a module or an intent**
Please specify if you will implement this module or not.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan l

[2020-04-22 13:43] Karine122 opened #95 "intent/module: create a ... module/intent"
**Describe what the module or intent should do** and **if this should be a module or an intent**
Please specify if you will implement this module or not.
Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan

[2020-04-22 13:44] Karine122 opened #97 "doc: dsdsd"
Please explain what do ysdsdsdsdsddou suggest on the Documentation, what you would see instead.

[2020-04-22 13:44] Karine122 opened #98 "fsfsdfdf"
First specify on which part this is related in the title with:
`core/language/modules...: title`
Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gustan las fresas con vainilla y la gente con frambuesa.Me gusta

[2020-04-22 15:04] Baracoudaa opened #100 "Save olivia !!!!!"
https://www.youtube.com/watch?v=j9V78UbdzWI

[2020-04-24 18:12] hugolgst commented on #83
All the current work has been merged to `master`.
For further improvements please write a message below this one.

[2020-04-24 18:12] #83 closed

[2020-04-26 12:12] isathish opened #102 "ERROR: Get https://docker.pkg.github.com/v2/olivia-ai/olivia/olivia/manifests/latest: no basic auth credentials"
First specify on which part this is related in the title with:
`ERROR: Get https://docker.pkg.github.com/v2/olivia-ai/olivia/olivia/manifests/latest: no basic auth credentials`

[2020-04-26 12:13] hugolgst commented on #102
You need to log in using GitHub. Please see the GitHub documentation about that

[2020-05-01 20:26] sebglon opened #103 "After docker-compose up the localhost/chat not work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. On master branch, run 'docker-compose up'
3. The front is accessible on URL HTTP://localhost:80'
4. I click on the `chat` button and \loading icon` still turn
5. If I refresh the page, I have a 404 not found

**Expected behavior**
The chat is available

**Desktop (please c

[2020-05-01 20:56] hugolgst commented on #103
Hello @sebglon,

Could you try to update the images to the latest ones by executing `docker-compose pull` and then start them with `docker-compose up` please?

[2020-05-01 21:25] sebglon commented on #103
Hi,
already done and the same result.
[code]

[2020-05-02 10:06] hugolgst commented on #103
I see that the WebSocket was not found, I'm going to investigate this issue.

[2020-05-02 15:05] hugolgst commented on #103
Hello @sebglon,
I fixed the loading issue, you can now chat with Olivia using the `docker-compose.yml`.
Make sure to pull the images once again.

About the 404 error I did not found why it is showing this error.

[2020-05-02 17:08] sebglon commented on #103
Thank's it work

[2020-05-02 17:08] #103 closed

[2020-05-06 07:52] doutuiya commented on #48
Does it support Chinese?

[2020-05-06 08:35] hugolgst commented on #48
Not yet.

[2020-05-06 08:44] doutuiya commented on #48
in the plan?

[2020-05-06 08:52] hugolgst commented on #48
I do not speak Chinese but if someone wants to translate it that would be great!

[2020-05-06 08:58] doutuiya commented on #48
how to do it  ?  any tutorials?

[2020-05-06 09:12] hugolgst commented on #48
I'm currently doing it

[2020-05-06 09:15] hugolgst commented on #48
Meanwhile, you can look at files in `res/locales` I have commented a few lines about translations.
The website translations are needed too, I didn't write anything about that yet.

[2020-05-13 18:13] hugolgst commented on #48
Hello @doutuiya ,
The document is (finally) available [here](https://docs.olivia-ai.org/translations.html).
Sorry for the delay.

[2020-05-15 01:20] doutuiya commented on #48
@hugolgst  thx :D

[2020-05-15 01:44] doutuiya commented on #48
but, the snowball can't support Chinese :(

[2020-05-15 07:17] hugolgst commented on #48
If we implement a Chinese stemmer, do you think it will work as well as in English?
Due to the difference of grammar etc..

[2020-05-16 00:09] doutuiya commented on #48
tbh, i dont' know, but there are somethings, i like to share:
1.the Chinese is the most used language in the world.
2. the golang developers in China is  very much, maybe the no1 in the world.
3. the top n  companies in China used golang to develop their products, likes Alibaba, Tencent, BaiDu, ByteDance etc.
4. there are some stemmers that support Chinese, likes: [gojieba](https://github.com/yany

[2020-05-16 08:51] hugolgst commented on #48
Sure thing, adding Chinese would be great!
Would you like to do it, and by the way would you like some help for adding a Chinese stemmer?
If it works for you I will create an issue for that.

[2020-05-17 01:20] doutuiya commented on #48
thx, if there is a tutorial for "how to implement it ", i can give a try.

[2020-05-17 08:41] hugolgst commented on #48
There is a page of the documentation that explains how to do it.

https://docs.olivia-ai.org/translations.html

[2020-05-18 01:14] doutuiya commented on #48
the document says **"first of all make sure that the stemmer(snowball) supports it**",  but I can't find the Chinese in the list, so can i follow this doucment ?

[2020-05-18 07:13] hugolgst commented on #48
So yeah you can, however the stemmer won’t work that’s why I asked you if you wanted me to implement the stemmer for you

[2020-05-19 01:17] doutuiya commented on #48
sorry, i misunderstand you, yes i want the stemmer

[2020-05-19 07:00] hugolgst commented on #48
Okay, I will create a branch and add the Chinese stemmer and then you would be able to fork the project and work on this branch. I keep you updated.

[2020-05-19 08:24] hugolgst commented on #48
Chinese has stopwords too, is that right?

[2020-05-19 08:24] #102 closed

[2020-05-19 09:09] hugolgst commented on #48
I began to work on it in the [`language/chinese`](https://github.com/olivia-ai/olivia/tree/language/chinese) branch. Let me know if it does not works for you.

[2020-05-19 11:14] doutuiya commented on #48
yes, Chinese has stopwords

[2020-05-19 13:23] hugolgst commented on #48
Keep me updated and don't hesitate if you have any questions :)

[2020-05-21 17:46] iaicam opened #104 "Doesn't recognise UK countries"
**Describe the bug**
Doesn't recognise UK countries

**To Reproduce**
Steps to reproduce the behavior:
Ask what the capital of Scotland is.
Ask what the capital of England is.
Ask what the capital of the UK is.

**Expected behavior**
To tell me the capital of Scotland is Edinburgh, the capital of England is London and the capital of the UK is London

**Desktop (please complete the following inform

[2020-05-21 18:05] hugolgst commented on #104
Hello @iaicam, that is because they are not independent countries.
The dataset of countries is an open dataset and they are not part of it for this reason.

[2020-05-21 18:08] hugolgst commented on #104
Sorry for the last comment, I did not read the question correctly.
I am going to investigate that problem, thanks a lot for the report.

[2020-05-21 18:15] hugolgst commented on #104
So, I have looked inside the dataset and they are missing. I have no idea why they are missing but I am going to add them to the list.

[2020-05-21 18:55] #104 closed

[2020-05-22 02:11] heinhoang opened #105 "Can't Clone Web Frontend"
How to have the access right, please?
$ git clone git@github.com:olivia-ai/docs.olivia-ai.org.git
[code]

[2020-05-22 07:28] lynic opened #107 "Consider use gorgonia for neural network?"
First specify on which part this is related in the title with:
`core/language/modules...: title`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please

[2020-05-22 08:03] hugolgst commented on #107
The goal is to start from zero, it may be less performant than an existing library but still very interesting to make.

[2020-05-22 08:03] #107 closed

[2020-05-22 08:05] hugolgst commented on #105
You did not configure the SSH keys, so you can use the HTTP git address:
[code]

[2020-05-22 08:05] #105 closed

[2020-05-23 20:29] koji commented on #48
Hi @hugolgst,
Would you like to have `Japanese`?
If so, could you do what you did for doutuiya to me?

[2020-05-23 20:30] hugolgst commented on #48
For sure!
Please open a PR and allow edits from the maintainers, I will work on that

[2020-05-24 07:55] Amchuz opened #111 "Song recommendation"
**Describe what the module or intent should do** and **if this should be a module or an intent**
Please specify if you will implement this module or not.

Allow Olivia to recommend songs for users.
If you can explain the work of Olivia like, where to add the module and all, I would love to implement this module.

[2020-05-24 07:56] hugolgst commented on #111
Hello!

The documentation explains that: https://docs.olivia-ai.org/modules.html#write-a-module

[2020-05-24 11:40] Amchuz commented on #111
@hugolgst I would like to add this module. For that, I have some doubts :
1. I need a python file too for this. Where should I upload that ?
2. A dataset is needed for the songs. I am using The Million Song Dataset. How am I supposed to use it in Olivia ?
Hope you will reply soon.

[2020-05-24 11:43] hugolgst commented on #111
Unfortunately, modules should be written in Golang. Olivia does not support other languages.

[2020-05-24 12:04] Amchuz commented on #111
@hugolgst I will be writing the module in Golang. But can I import a python program into my Golang program ? If yes, where can I write my python program ?

[2020-05-24 12:25] hugolgst commented on #111
I don’t know if it exists but if it does there will be a huge lack of performances, I don’t think that’s a good idea.

[2020-05-24 12:26] Amchuz commented on #111
@hugolgst Ok. Thank you for your reply.

[2020-05-24 12:27] #111 closed

[2020-05-24 12:27] hugolgst commented on #111
Sorry for that :/

[2020-05-24 15:05] Amchuz commented on #111
@hugolgst No problem. I will try to add modules that does not affect the performance.

[2020-05-25 13:07] HenryHengZJ opened #112 "doc: how to run on docker"
I am new to Docker and trying to run this awesome project on it.

So I have pulled the image from GitHub Packages:
`$ docker pull docker.pkg.github.com/olivia-ai/olivia/olivia:latest`

Then start it
`$ docker run -d -p 8080:8080 docker.pkg.github.com/olivia-ai/olivia/olivia:latest`

But when I try to run
`$ docker container ls`

I didn't see anything there and not sure how to use the command:
`$ d

[2020-05-25 13:22] hugolgst commented on #112
Are you sure you did pull the image correctly?

[2020-05-25 13:34] HenryHengZJ commented on #112
When I used the command:
`docker images`
I can see the repo, tag, ImageID and etc.

[2020-05-25 13:59] hugolgst commented on #112
Is there an error when you run the image?

[2020-05-25 15:36] lone-star opened #113 "doc: Modulable -> Modular?"
In the description (and on the website), it says:

Do you mean `modular`? As in, it's composed of multiple modules?

[2020-05-25 15:52] HenryHengZJ commented on #112
There is some problem with my docker installation. For now I chose to go for git installation instead.

[2020-05-25 15:52] #112 closed

[2020-05-25 16:24] hugolgst commented on #113
You're right, thanks.

[2020-05-25 16:26] #113 closed

[2020-05-26 05:11] sainitishkumar commented on #84
Hi, I am new to open source and Go.
I would like to work on this issue.

[2020-05-26 05:36] cvhariharan commented on #80
Hi, is this still open? I would like to give this a go. I am thinking of adding a module to make an API request and return a joke.

[2020-05-26 05:39] hugolgst commented on #80
Hello, of course it is still open!

[2020-05-26 05:45] cvhariharan commented on #80
Also, I wanted to add an env variable and I see that even though there is an .env file, it is not being used in the dockerfile. So, should I also update the dockerfile to use the env file or for the time being, should I add the env variable to the dockerfile itself.

[2020-05-26 07:44] hugolgst commented on #80
You can make a PR for that yes

[2020-05-26 07:45] hugolgst commented on #84
Hello @sainitishkumar
You can make a PR for that!

[2020-05-26 07:58] #80 closed

[2020-05-26 12:47] L3o-pold commented on #102
This link will help https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-docker-for-use-with-github-packages

[2020-05-26 12:49] hugolgst commented on #102
Thanks for refering it.

[2020-05-28 12:43] newtonsart opened #119 "olivia_olivia-ai.org_1 exited with code 1"
[code]

[2020-05-29 08:14] cvhariharan commented on #79
I can pick this up if it is still open

[2020-05-29 08:16] hugolgst commented on #79
It is still open! Thanks for that

[2020-05-29 08:47] #79 closed

[2020-05-29 08:49] hugolgst commented on #119
I am going to investigate that, thanks for reporting.

[2020-05-31 23:39] miwgmail opened #121 "Hi"
First specify on which part this is related in the title with:
`core/language/modules...: title`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please

[2020-06-02 09:22] #121 closed

[2020-06-03 16:21] isakcodes opened #123 "Installation/setup issues"
Hi! Would really appreciate some help with setting up the project. I have got it running on my machine with docker, but I just get a 404 on localhost:8080

**Describe the bug**
I get a 404 Page not found error starting Olivia with the yml file using `docker-compose up`

![image](https://user-images.githubusercontent.com/61279302/83661041-dfcb3b80-a5c5-11ea-9c4c-854b74929982.png)

**To Reproduce**

[2020-06-03 16:45] hugolgst commented on #123
Your packages aren't updated, please execute `docker-compose pull`

[2020-06-04 06:44] isakcodes commented on #123
Thanks for the help! Now I got the same error as #119 .

[2020-06-04 08:21] hugolgst commented on #123
I thought it would be this, I am going to find a solution quickly.

[2020-06-04 12:32] hugolgst commented on #119
The issue has been fixed, please execute `docker-compose pull` to get the updates.

[2020-06-04 12:32] #119 closed

[2020-06-04 12:33] hugolgst commented on #123
The issue has been fixed, execute `docker-compose pull` again and it should be fine.

[2020-06-04 12:33] #123 closed

[2020-06-04 19:12] marshonhuckleberry opened #125 "provide examples"

[2020-06-04 20:13] hugolgst commented on #125
What do I suggest for what? Could you be more precise please?

[2020-06-05 06:53] marshonhuckleberry commented on #125
not my fault had selected some random option wich writed things for me, i edited the issue now. i mean this code also needs a chat example with the bot

[2020-06-05 06:55] hugolgst commented on #125
you can find these examples in the code, you mean in the README?

[2020-06-05 07:13] marshonhuckleberry commented on #125
i mean a text file containing an example chat

[2020-06-05 08:02] hugolgst commented on #125
Why we should do that? intents.json already contains that

[2020-06-06 20:20] marshonhuckleberry commented on #125
where is intents.json located?

[2020-06-07 08:16] hugolgst commented on #125
res/`name of the locale`/intents.json depending on the language

[2020-06-07 10:24] marshonhuckleberry commented on #125
oh, that's a question-answer bot, i thought it was a more intelligent bot (learning, understanding) that is why i asked for examples but i guess its some sort of practical bot, i tried the online chat demo but robot gave irrelevant answers for some reason

[2020-06-07 10:28] marshonhuckleberry commented on #125
a little example can be seen here: https://docs.olivia-ai.org/console.html#installation

[2020-06-07 10:53] hugolgst commented on #125
It is learning and it is understanding

[2020-06-07 10:53] hugolgst commented on #125
If you want examples, you can watch the YouTube preview.

[2020-06-08 10:01] #125 closed

[2020-06-09 11:53] #78 closed

[2020-06-12 15:07] AARYAN-MAHENDRA commented on #81
I would like to work on this issue?

[2020-06-12 15:33] hugolgst commented on #81
Sure you can!

[2020-06-19 02:15] bonedaddy opened #126 "Dont Require Locally Available Olivia Repository To Use Olivia Or Allow Custom Paths"
The olivia library is pretty cool, however there is a major downside which is that you need to have a a copy of the olivia repository available locally. For example when initializing the bot, and running `CreateNeuralNetwork.

The first line in this function is:
[code]

which means that in order to use olivia, you have to either:
* a) Copy the `res/locales` folder to the current working directory

[2020-06-19 05:17] bonedaddy opened #127 "Olivia Server Relies On Unexported Global Variable Yet Exposes Public Functions"
`server/serve.go` relies on an unexported global variable called `neuralNetworks` which is set when running `server.Serve` however it exposes public functions like `Reply` and `Train`.

The inability to set `neuralNetworks` unless calling `server.Serve` negates the purpose of having public accessible functions like `Reply` and `Train` as these can't be used, unless you call `server.Serve`.

`neura

[2020-06-19 06:28] hugolgst commented on #126
That is because Olivia isn’t a library, it isn’t built for third-party usage.

[2020-06-19 06:31] hugolgst commented on #127
The suggestion is accurate and I will change that. However, Olivia **isn’t** a library and it isn’t built to be a package used externally.

[2020-06-19 06:52] bonedaddy commented on #127
Ah okay understandable. Is there any kind of limitation that would prevent it from being used as a library? It definitely is a one of a kind golang project, and in theory would allow people to build some cool stuff being used as a library.

[2020-06-19 06:53] hugolgst commented on #127
It is a great idea, however every part of the project relies on another one and it is a big puzzle. If you have any suggestions that would be great!

[2020-06-19 18:10] bonedaddy commented on #127
Ah okay that makes sense, I will think and let you know if I can think of anything else :D

[2020-06-19 21:58] milouk opened #128 "Issue with pulling docker images and building from source"
I can't seem to be able to build the project both with the docker nor the git way

**Describe the bug**

* Docker method

Whenever I type the command `docker pull docker.pkg.github.com/olivia-ai/olivia/olivia:latest` I get `Error response from daemon: Get https://docker.pkg.github.com/v2/olivia-ai/olivia/olivia/manifests/latest: no basic auth credentials`

* GitHub Method

If I clone the repo as m

[2020-06-20 06:41] hugolgst commented on #128
Please see #102.

[2020-06-21 12:22] milouk commented on #128
I managed to fix it. However, it still is not clear after seeing #102. I would suggest having a brief mention in the README.

[2020-06-21 13:12] hugolgst commented on #128
Great suggestion, I will do that after I come back from vacation. Thanks!

[2020-06-22 08:31] milouk commented on #128
No problem Hugo, enjoy your vacations :)

[2020-08-01 09:00] KrishnaSindhur commented on #82
hi, i am interested to solve this

[2020-09-18 06:15] x0rzkov opened #134 "Implementation in a Telegram bot"
Hi guys,

Hope you are all well !

I was looking for some implementation of AI chatbot golang and found your project `olivia`.

And, I am developing a multibot for telegram based on go plugins: https://github.com/paper2code/telegram-multibot

So I was wondering how can I integrate `olivia` as a plugin.

Do you have any insights or advices for such integration ?

Thanks in advance.

Cheers,
X

[2020-09-18 06:27] hugolgst commented on #134
Hello,

First of all let me tell you that I am glad that you want to use Olivia.
Then, the source code of Olivia serves a WebSocket on which you can connect.
I will let you check the code of https://github.com/olivia-ai/olivia-kit-go which is a wrapper on the WebSocket of Olivia and you can interact with the chatbot from it.
Do not hesitate to ask any question on issues if you have some.

Thanks,

[2020-09-18 06:37] x0rzkov commented on #134
Thanks @hugolgst

How do you train olivia on specific questions/answers ?

I already made telegram QA bot for Arxiv.org papers https://github.com/paper2code/telegram-qa-with-arxiv-papers where I ingested the dataset with the help of the [haystack](https://github.com/deepset-ai/haystack) framework.

Is it possible to load such models into `olivia` ?

[2020-09-18 06:41] hugolgst commented on #134
Olivia uses its own dataset but you can of course customize it and specify it in the server.
However, you will need to host a server.
Here is a link to the related page on the documentation: https://docs.olivia-ai.org/intents.html#adding-via-the-file-system

[2020-09-18 06:43] x0rzkov commented on #134
Btw, I tried the [demo](https://olivia-ai.org/chat) with some texts like
`what is arxiv ?`
`what time is it ?`

she kept replying

`My job is to make you feel like everything is okay.`

Did I do something wrong ?

[2020-09-18 06:47] hugolgst commented on #134
Yes indeed the official version online have a really small dataset thus she replies wrong to a lot of requests but with a bigger dataset it should reply right.

[2020-10-02 11:30] Nols1000 commented on #82
Hi,
I would like to look into this module. Is there more information about the module?

What happens if a country has multiple timezones?
Should the pr add data to the countries.json?

[2020-10-02 16:19] hugolgst commented on #82
I think that adding the data to `countries.json` could be a good idea.
Up to you to make your model.

[2020-10-18 21:54] PiperMp3 opened #136 "Learn on the fly"
Hello,

I've currently only gotten so far to have her installed, running as CLI and tested Web App a little. I've yet to see the training of the neural network during a new training.json occur. What I've read is when new intents or new datasets are being added Olivia needs a quick nap (restart) . How could we get her to never need a restart and can detect file changes / new datasets.. new intents,

[2020-10-19 07:09] hugolgst commented on #136
Hello,

It is definitely possible to have a such feature, I only did the current one to save time.
We could inject some features and then just re-train the model a bit to include it.

Technically she could handle it but I think that it will take a long time, during runtime there is a save of the neural network loaded into the RAM. There is also a cache if you ask multiple times the same question.

[2020-10-19 10:12] PiperMp3 commented on #136
Good morning,

Many thanks for coming back to me - I saw mentioned that a Discord server was started?
I have some further questions and I don't want to spam the GitHub issues page :)

I understand Olivia does not store any data, that may come from the Swiss culture.
Would be cool to have an optional setting where Olivia could track an unique identifier to see whether its "me" or someone else, and

[2020-10-19 13:15] hugolgst commented on #136
I think to do such a feature Olivia would need to share the ID of the other user and make the client replace it in its local storage.
Of course it can be done but I'm not sure that it is in the spirit of Olivia, you could however implement it in a fork :)

[2020-11-04 13:41] A-Yamout commented on #136
I think that is great that we value the privacy of others and keep expanding Olivia. @hugolgst  you have done a great job with this and I would love to help if there is any way that I could help with the new 3.00 release just ask.

BTW I am great with logos graphics and art more then go (I am horrible at go) so want a new logo or a new UI for the web app I can help you with that, and thanks for al

[2020-11-04 15:15] hugolgst commented on #136
Thanks a lot for that! However, it is hard for me to keep maintaining Olivia thus I am pretty busy.
I am very open to new ideas so you can create issues or work on some PR if you want so!
Huge thanks! :)

[2020-11-04 16:00] A-Yamout commented on #136
No Problem. Thanks for making this open source and open to the world.

[2020-11-04 17:21] A-Yamout opened #137 "Olivia in Docker won't start"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Portainer'
2. Click on 'Olivia'
3. Scroll down to 'start'
4. See an error in the log

**Expected behavior**
For it to start and be able to open the web app

**Desktop (please complete the following information):**
 - OS: [Windows 10 Pro]
 - Browser [Chrome]
 - Versi

[2020-11-05 23:22] A-Yamout commented on #137
never mind.

[2020-11-05 23:22] #137 closed

[2020-11-06 03:50] A-Yamout opened #138 "Front end app that you used in your video"
I was looking at all the info for Olivia-AI and stumbled on your video.
Which made me wonder what app were you using for the front end?

[2020-11-10 14:39] #138 closed

[2020-11-20 17:59] simonepignotti opened #141 "Support for ARM in docker builds"
Hi,

First of all, congrats for this ambitious project, it looks extremely promising.

I would love to test it on my little home server, but unfortunately it's ARM-based (Odroid-HC2) and trying to run the docker image results in the following:
`standard_init_linux.go:219: exec user process caused: exec format error`

I would therefore suggest to include ARM support in the docker build pipeline, as

[2020-12-14 09:11] leeningli commented on #48
你已经在language/chinese分支开发了吗？

[2021-01-11 12:08] hugolgst opened #145 "Call for contributors"
Dear GitHub community,

I now have less time to spend on Olivia than the previous year and I would like to call out for the amazing GitHub community to not let Olivia die.
Feel free to check out the opened issues and the [good first issues](https://github.com/olivia-ai/olivia/labels/good%20first%20issue) and reach me via issues or email at hello@olivia-ai.org.

I would even be open to create teams

[2021-01-11 19:06] ekhaydarov commented on #145
@hugolgst found this issue through the reddit post on golang. Looking through the issues would it be possible to take a look at this one? https://github.com/olivia-ai/olivia/issues/141

[2021-01-11 19:17] A-Yamout opened #146 ".sh install script for install of frontend and backend"
I am looking for help with a .sh script that will install Olivia and all of its dependencies onto Linux would nice to have a one-line install, If you want to help with this click on the [LINK!](https://github.com/A-Yamout/Olivia-AI-Install-Script). Any help would be appreciated. Thanks and happy Monday!

[2021-01-11 20:29] hugolgst commented on #145
Hello @ekhaydarov, are you asking this for me to take a look?

[2021-01-11 20:53] ekhaydarov commented on #145
i am saying I am happy to help contribute and take a look at that issue as well as other starter issues

[2021-01-11 21:05] hugolgst commented on #145
Thanks a lot! I really appreciate it @ekhaydarov

[2021-01-12 05:21] jusso-dev commented on #146
Any reason you can't simply use the Docker image provided?

[2021-01-12 17:44] A-Yamout commented on #146
For some people they don't know how to use any bash and seams easier to install on a Linux server.

[2021-01-15 16:23] Dreeseaw commented on #81
Hello, have you made any progress on this issue? I'm interested in giving it a go. @itsaaryan

[2021-01-19 14:37] #146 closed

[2021-01-19 14:43] A-Yamout commented on #141
[This](https://www.docker.com/blog/getting-started-with-docker-for-arm-on-linux/)  is a link to a docker blog about docker on arm-based systems.

[2021-01-19 15:38] A-Yamout commented on #65
@hugolgst
I was going to put a news network (Sky news, BBC, CNN, ETC.) witch one should I put or should I put them all and let the user select?

[2021-01-19 18:32] hugolgst commented on #65
Let the user select I think.

[2021-01-20 13:42] A-Yamout commented on #65
Ok do you think I should have it in the modules as a setting like the spotify module, or have it in the front (eg. Switch my news network to BBC).  @hugolgst

[2021-01-20 20:33] hugolgst commented on #65
I am not sure to understand correctly

[2021-01-20 20:43] A-Yamout commented on #65
Should the setings be in the frontend or the backend @hugolgst

[2021-01-20 20:47] hugolgst commented on #65
The settings about which feed the user want should in the user information, stored in the localStorage of the user.
And the available list of media should be in the back-end.

[2021-01-21 02:30] A-Yamout commented on #65
Ok, Thank You

On Wed, Jan 20, 2021 at 2:48 PM Hugo Lageneste <notifications@github.com>
wrote:

[2021-01-27 16:15] merouaneamqor opened #148 "doc: serve in a static adresse"
how can i serve in a static address ?? like 192.168.1.103:8080

[2021-01-27 16:49] A-Yamout commented on #148
You would have to config that on the OS itself.

[2021-02-01 15:47] A-Yamout commented on #148
@merouaneamqor  If you wouldn't mind could you close this Issue

[2021-02-03 06:44] chaitanyarahalkar opened #149 "Any way to change the hot-word?"

[2021-02-06 04:27] A-Yamout commented on #149
@chaitanyarahalkar  To my knowledge though there is no way to change the hot-word.

[2021-02-17 15:44] lonnietc opened #151 "Docker compose startup problems"
ERROR:
 Docker compose

Error response from daemon: Head https://docker.pkg.github.com/v2/olivia-ai/olivia/olivia/manifests/latest: no basic auth credentials

**Describe the bug**
On a fresh install of Ubuntu 20.04 with Docker and Docker-Compose installed I get a "no basic autho credentials" Error

**To Reproduce**
go into olivia directory
docker-compose up

**Desktop (please complete the followin

[2021-02-17 16:42] lonnietc commented on #151
Hi All,

I was able to go thorough the "Installation" steps to get it partially working but no web interface yet even with Docker-Compose Up.

I am a bit confused why the need for all of these install steps. Would it not be better to have a simple public repo that does not depend up logging into Github and generating a TOKEN for it?

Installation
Login to Github

To get a personal accsess token fr

[2021-02-17 16:49] lonnietc commented on #151
I used "docker-compose up" and get:

~/olivia$ docker-compose up
Creating network "olivia_default" with the default driver
Creating olivia_olivia-ai.org_1 ... done
Creating olivia_olivia_1        ... done
Attaching to olivia_olivia_1, olivia_olivia-ai.org_1
olivia_1         |        _ _       _
olivia_1         |   ___ | (_)_   _(_) __ _
olivia_1         |  / _ \| | \ \ / / |/ _` |
olivia_1

[2021-02-20 19:26] hugolgst commented on #151
Hi.
localhost:8080 is the API so if you get a 404 it is normal.
However the 80 is not normal, do you have any console logs from the browser ?

[2021-02-20 19:26] hugolgst commented on #149
Currently there is not but that could be an interesting feature to have.

[2021-02-20 19:27] #148 closed

[2021-02-20 19:28] #134 closed

[2021-02-20 19:28] #128 closed

[2021-02-20 23:03] Outstep commented on #151
Hello, I was running it from the Docker-Compose

On my Ubuntu 20.04 system it seems to show that everything is up and running just fine and I do not know where to get any browser records for it.

There are no messages except that it is listening on port 80 and port 8080.

 Not sure what to try now.

Maybe I can try to delete the old docker images and some some fresh pull to see if that fixes it.

[2021-02-22 13:23] A-Yamout commented on #151
Did you check that ufw (firewall) rules were updated?

[2021-02-22 15:40] ad3n opened #153 "Error When Trying to Chat with Bot using Olivia Console"
![Screenshot from 2021-02-22 22-38-05](https://user-images.githubusercontent.com/7464920/108731120-d1132300-755e-11eb-89d7-5f1d47fd7606.png)

I clone from master branch

[2021-02-22 15:50] surya4crowde commented on #151
i have some issue

[2021-02-22 15:51] surya4crowde commented on #151
also when trying chat using console client, i got error like i screenshot in my issue

[2021-02-22 17:19] A-Yamout commented on #151
@hugolgst  would you be willing to move the repo from GitHub to a docker hub repo?

[2021-02-22 18:19] hugolgst commented on #151
As discussed in https://github.com/olivia-ai/olivia/discussions/150 I think we could keep GitHub packages and add Docker hub.
I am currently a bit busy, if someone wants to PR the repository to add a GitHub Action I'd be glad to merge it.

[2021-02-22 20:35] A-Yamout commented on #151
# Would this work? (IDK how to use GitHub actions)

name: Publish Docker image
on:
  release:
    types: [published]
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secr

[2021-02-23 00:24] surya4crowde commented on #153
Hi @hugolgst I checked and I found the `classes` have 53 subset but the `predict` only have 33

[2021-02-23 10:29] hugolgst commented on #151
I think we can try on a PR

[2021-02-23 10:31] hugolgst commented on #153
Just to know how to reproduce the bug, have you launched the App via Docker?

[2021-02-23 16:52] ad3n commented on #153
@hugolgst i just clone the master branch and install without docker

[2021-02-24 08:03] hugolgst commented on #153
Could you send the history of commands you're executing ?

[2021-02-24 12:49] surya4crowde commented on #153
![Screenshot from 2021-02-24 19-46-29](https://user-images.githubusercontent.com/70564773/109002750-2f641100-76d9-11eb-9ee1-4e2d9a8cf378.png)

Hello @hugolgst, i just run `go run main.go` in both of `olivia` and `olivia-console` like screenshot above

[2021-02-25 04:46] adevroy commented on #153
You need to delete the training file in your locale and then retrain. The training files checked into github have issues.

[2021-02-25 07:58] hugolgst commented on #153
Yep that's what I saw, I also added another condition in order to avoid such problems.
Gonna push tonight

[2021-02-25 08:04] surya4crowde commented on #153
Thank you @adevroy fix

[2021-02-25 20:12] #153 closed

[2021-02-25 20:48] A-Yamout commented on #151
@lonnietc @hugolgst
I found a fix for the no valid AUTH credentials but not for the 404 not found

To get a personal access token from Github go to Setings>Developer settings>Personal access tokens

Click on Generate new Token and name it you MUST have read and write packages ticked on.
Then click Generate new token

Replace Token with the Token that you just made.
[code]

Login to GitHub (Note: c

[2021-03-02 13:36] A-Yamout commented on #151
@hugolgst
I pulled Proxmox out of the dust and got up Ubuntu 18.04, Ubuntu 20.04, windows 10 with subsystem, and Alpine VM's working (clean install). After trying to install Olivia on all of them only Ubuntu 18.04 works, I do not know why but it is working only on Ubuntu 18.04. Is there any debug info you want/need?

[2021-04-02 02:37] at-maonv commented on #123
Hi @hugolgst
I tried to use  **docker build -t front .** and **docker run -p 8080:8080 front** but I just got an error.
[+] Building 10.1s (9/11)
 => [internal] load build definition from Dockerfile                                                                                                                               0.1s
 => => transferring dockerfile: 261B

[2021-04-02 05:06] at-maonv opened #156 "Installation/setup Front issues"
Hi, @hugolgst
Please check to help me the following errors:
First specify on which part this is related in the title with:
`core/language/modules...: title`

**Describe the bug**
I got an error starting front in olivia-ai.org with the docker :
..\olivia-ai.org>docker build -t front .

[+] Building 8.0s (9/11)
 => [internal] load build definition from Dockerfile

[2021-04-16 13:15] A-Yamout commented on #156
This sounds like a node problem because it can't find the "https://github.com/sass/node-sass/releases/download/v4.13.1/linux_musl-x64-83_binding.node" I would start an issue with npm. Otherwise, I don't know any other way to fix it.

[2021-05-11 18:39] aculclasure commented on #84
Hi @hugolgst and @sainitishkumar

I came across this issue and it seems to coincide with some work I have done on simple Go client for the [OpenWeather API](https://openweathermap.org/api). I would like to know if it would be helpful for this issue. I have a Go package called [weather](https://github.com/aculclasure/weather) that provides logic to get the current weather conditions at a given loca

[2021-05-12 08:00] hugolgst commented on #84
Yes she can! We just need to write that in the module.

[2021-07-17 09:42] gogeof commented on #137
The problem of not setting the PORT environment variable still exists，why not to fix it?

[2021-07-17 09:48] gogeof opened #157 "doc: the command to start container with docker in README.md should add env PORT setting."
Please explain what do you suggest on the Documentation, what you would see instead.
Here is the command to start olivia by docker:

[code]

But, it should be:

[code]

If not, it will start failed，the message like this:

[code]

[2021-07-17 20:01] #157 closed

[2021-07-29 06:50] proffalken commented on #141
I don't have the time to contribute to this unfortunately, but my repo has a good example of how to build for multiple architectures using github actions and publish to GHCR: https://github.com/MakeMonmouth/mventory/blob/main/.github/workflows/container_build.yml

That might help you! :)

[2021-08-18 09:35] itcuihao opened #159 "How do i use it"
First specify on which part this is related in the title with:
`core/language/modules...: title`

**Describe the bug**

docker doc
[code]

server
[code]

client
[code]

[2021-08-18 18:27] hugolgst commented on #159
Hello,

Could you give me a clearer explanation of your issue?

[2021-08-19 07:24] itcuihao commented on #159
I deployed the server according to the document, how should the client request it? I use websocket to access 8080 locally and it prompts bad handshake.

[2021-08-19 07:40] hugolgst commented on #159
Please use either the web application, either the [Olivia-console](https://github.com/olivia-ai/olivia-console) program.
You give too few indications for me to help you using Olivia.

[2021-08-30 12:06] josecelano commented on #151
I also have the 404 error:

[code]

Installation steps:

[code]

[2021-08-31 06:50] hugolgst commented on #156
In any case I am working on a re-build of most of the communication between the Front-end and the Back-end to simplify all that.
It will be a huge work and take a lot of time but hopefully it stays on tracks

[2021-08-31 07:02] hugolgst commented on #156
It might fix a lot of the deployment issues we have.

[2021-09-08 11:01] jbanety commented on #145
Hi @hugolgst,
I'm planning to build a management assistant to help doing some tasks like plan meetings, some invoices, ...
My goal is to act like as a human as much as possible.
Is Olivia a good solution for that?
If true, I'll be happy to test, add features and help you.
😉

[2021-09-09 07:00] hugolgst commented on #145
Indeed it can be used.
I am currently reworking the chatbot for better performances so it might be better starting using the v3 when released

[2021-09-09 08:34] jbanety commented on #145
Any ETA for the v3 ?
Will it be very different or the v3 will be retrocompatible with v2 ?

[2021-09-09 16:27] hugolgst commented on #145
Unfortunately, since I am doing that when I have free time and am already quite booked with my job I won't be able to give you a date.
The idea would be to re-write much of the stuff we have so indeed it will be very different.

[2021-09-09 19:14] jbanety commented on #145
Ok. So I start with v2 😉

[2021-09-19 12:39] lonnietc opened #161 "Can Olivia use database for dynamically adding Intents"
Hello,

I'm a bit new to Olivia and am trying to see what the capabilities are in terms of dynamically adding more Intents while operational which led me to the question as to if Olivia can use a database (SQL, Graph, or other) to have Intents dynamically added while online?

I am guessing that this is not the case because Olivia might need re-training after each updated to include more Intents, e

[2021-09-25 09:09] hugolgst commented on #161
Hi,

Indeed we do not have any kind of database, since we would, in any case, need a re-training of the model.
We can however add this to the backlog of the v3 that I am currently starting.

The only potential issue I see with this is that we could have a lot of data in the database and might be annoying for existing .csv to dump the content to a database.

[2021-09-25 09:09] #161 closed

[2021-10-13 16:25] hugolgst opened #163 "Moving to seq2seq DL model"

[2021-11-14 17:36] A-Yamout opened #166 "Male Voice/Mode named Oscar while Female is name Olivia"
You can switch between Male or Female, it will default to Female witch is Olivia but you can switch it to male witch it Oscar.

[2021-11-14 17:37] hugolgst commented on #166
Is it a question? A suggestion? I do not get it

[2021-11-16 04:21] A-Yamout commented on #166
@hugolgst This is a suggestion

[2022-01-04 22:35] galamdring commented on #151
it seems there is nothing being hosted at /
try hitting one of the api get endpoints, like api/coverage

[2022-01-08 01:38] jinfagang opened #167 "Just curiosity: Does it implemented a tiny nn framework in go supports Dense layer?"
it seems whole neural network implemented in go include training process, why don't using popular framework like pytorch and transfer weights to go?
Also, what's the supported op coverage in olivia, such as convolution, lstm, transformers etc.

[2022-02-16 01:35] JRMeyer opened #169 "[Feature Request]: Add Coqui STT for offline Speech-to-Text"
Hi there 👋

Olivia is a great project, very cool design:) I'm not sure if the repo is still maintained, but in any case it would be great to add the offline Speech-to-Text options from @coqui-ai... Olivia is multilingual, and so is Coqui, and there are Golang bindings to make the integration easier:) There's also TTS from Coqui (without Golang bindings atm) which is very high fidelity and also off

[2022-02-20 19:02] schabil opened #170 "Docker Container are running but i dont get a web interface"
Hi,

both container are running but i cant access the web interface

`Starting up http-server, serving dist
Available on:
  http://127.0.0.1:120
  http://172.19.0.3:120
Hit CTRL-C to stop the server`

im trying to access the docker container over the network via 10.6.0.3:120 (10.6.0.3 is the ip of my Server) i needed to switch to port 120 beacuse on port 80 is already a service running.

could it

[2022-02-21 00:55] #170 closed

[2022-09-30 08:02] Deng-Xian-Sheng commented on #48
I checked language/chinese , but it not progress
I don't think it is necessary to waste energy on languages (after all, there are so many languages in the world)
Translation software will help us solve everything

I try to help develop Chinese problems
I am an excellent programmer. I take advantage of my National Day holiday (China's founding day, October 1 holiday)
This robot is a bit silly. I do

[2022-10-05 10:34] Deng-Xian-Sheng commented on #48
I have finished it. It now supports Chinese, but it still needs to be optimized; Please check the pull request

[2022-10-14 12:01] Deng-Xian-Sheng commented on #48
为什么还不合并？？

[2022-10-14 12:01] Deng-Xian-Sheng commented on #48
Why don't you merge??

[2022-10-14 12:02] Deng-Xian-Sheng commented on #48
:-(

[2022-10-14 12:04] Deng-Xian-Sheng commented on #48
I'm done. You can take a look at the pull request.